<!doctype html>
<html>
    <head>
        <title>DSSG-Ushahidi</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
        <style type="text/css">
        <!--
        .entity_location {
            background: #ffff00;
            color: #000000;
        }
        .entity_other {
            background: #00ffff;
            color: #000000;
        }
        .is_correct {
            background: #00ff00;
            color: #000000;
        }
        .is_wrong {
            background: #ff0000;
            color: #000000;
        }
        -->
        </style>
    </head>
    <body>

    <!--         <header>
              <div class="container">
                <h1 class="logo">Flask App</h1>
                <nav>
                  <ul class="menu">
                    <li><a href="{{ url_for('home') }}">Guess</a></li>
                  </ul>
                </nav>
              </div>
            </header> -->

        <div class="container">
          {% block content %}
          {% endblock %}
        </div>

    </body>
</html>